<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".On" />
        <activity android:name=".Sign" />
        <activity android:name=".MediaP" />
        <activity android:name=".Camera" />
        <activity android:name=".Cal" />
        <activity android:name=".Sp" />
        <activity android:name=".Magicmp" />
        <activity android:name=".Quiz" />
        <activity android:name=".Second" />
        <activity android:name=".Third" />
        <activity android:name=".Fourth" />
        <activity android:name=".Fifth" />
        <activity android:name=".Result" />
        <activity android:name=".Netcap" />
        <activity android:name=".Facebook" />
        <activity android:name=".Twitter"></activity>
    </application>

</manifest>